{% extends 'base.html.twig' %}

{% block title %}S'identifier
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger login-form">Informations de connexion non valides</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div class="login-form">
			<h2 class="h2 mb-3">Veuillez vous identifier</h2>
			<div class="">
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label class="mt-3" for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn btn-primary" type="submit">
					S'identifier
				</button>
				<div class="my-5">
					<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
				</div>
			</div>

			{# <h2 class="h2 lower">Vous n'êtes pas encore inscrit ?</h2>
			<p>Si vous souhaitez participer au festival, cliquez ici et après avoir enregistré vos données personnelles, indiquez vos dates préférées et les pôles que vous souhaitez effectuer.</p>
			<div class="mt-2">
				<a class="btn btn-secondary" href="{{ path('security_registration') }}">S'inscrire</a>
			</div> #}

		</div>
	</form>
{% endblock %}
