{% extends 'base.html.twig' %}
{% block title %}Inscription
{% endblock %}
{% block body %}
	<div class="registration-form mb-5">
		<h2>Inscription</h2>
		<p>* Champs obligatoires</p>

		{{form_start(form)}}
		<div class="row">
			<div class="col-xl-12">
				{{form_row(form.gender,{
			'label':'Civilité *'
		})}}
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6">
				{{form_row(form.lastName,{
			'label':'Nom *'
		})}}
			</div>
			<div class="col-xl-6">
				{{form_row(form.firstName,{
			'label':'Prénom *'
		})}}
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-xl-6">
				{{form_row(form.email,{
			'label':'Email *'
		})}}
			</div>
			<div class="col-xl-6">
				{{form_row(form.password,{
			'label':'Mot de passe *'
		})}}
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-xl-6">
				{{form_row(form.phone,{
			'label':'Téléphone *'
		})}}
			</div>
			<div class="col-xl-6">
				{{form_row(form.birthDate,{
			'label':'Date de naissance (jour-mois-année)'
		})}}
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-xl-12">
				{{form_row(form.comment,{
			'label':'Un commentaire? Une question ? Une remarque ? C\'est ensemble que nous avançons !'
		})}}
			</div>
		</div>
	<div class="row mt-3">
		<div class="col-xl-12">
			{{form_row(form.consent,{
			'label':'J\'autorise les organisateurs à utiliser mes données pour le Festival les 17 & 18 juin 2022.(*)'
		})}}
				<div class="m-3">
					<a class="" href="https://www.chambery-solidarite-internationale.fr/mentions-legales/" target="_blank">Mentions légales</a>
				</div>
			</div>
		</div>
		<div class="row mt-1">
			<div class="col-xl-12">
				{{form_row(form.newsletter,{
			'label':'Je souhaite recevoir les newsletters de Chambéry Solidarité Internationale.'
		})}}
			</div>
		</div>
		<button type="submit" class="btn btn-primary mt-3">Inscription</button>

		{{form_end(form)}}
	</div>
{% endblock %}
