{% extends 'base_admin.html.twig' %}

{% block title %}Lafi bala{% endblock %}

{% block body %}

<div class="mt-5 pt-5">
    <h1>Enregistrement des bénévoles actuel</h1>
        {% if not app.user %}
            <a class="btn btn-primary" href="{{path('app_login')}}">S'identifier</a>
        {% else %}
            <div class="pagination mt-5">
              {{ knp_pagination_render(slots) }}
            </div>

            <table class="table mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th><a href="{{ path('home') }}">Pôle</th>
                    <th><a href="{{ path('home_time') }}">Créneau</th>
                    <th>Nombre de bénévole requis</th>
                    <th>Nombre de bénévole disponibles</th>
                    <th>De combien d'autres avons-nous besoin ?</th>
                </tr>
            </thead>
            <tbody>
            {% for slot in slots %}
                <tr>
                    <td>{{ slot[0].id }}</td>
                    <td>{{ slot[0].task.name }}</td>
                    <td>{{ slot[0].beginDateTime ? slot[0].beginDateTime|date('Y-m-d H:i') : '' }}{{ slot[0].endDateTime ? slot[0].endDateTime|date(' H:i') : '' }}</td>
                    <td>{{ slot[0].requiredUsers }}</td>
                    <td>{{ slot.availables }}</td>
                    {% if (slot[0].requiredUsers - slot.availables) <= 0 %}
                        <td>Complet</td>
                    {% else %}
                        <td>{{ slot[0].requiredUsers - slot.availables }}</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class="pagination">
        {{ knp_pagination_render(slots) }}
    </div>
        {% endif %}

</div>

{% endblock %}
