{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}
{% block body %}
	<div class="login-form">
		<h2 class="">Festival Le Marché des Continents au Jardin du Verney 2022</h2>
		<p class="mt-5">Le Festival le Marché des continents revient les 17 & 18 juin au Jardin du Verney. Le concept reste le même 100% gratuit, festif, engagé, conférences et restauration. </p>
		<p class="mt-2 text-center"><b>FOOD CULTURE MUSIC</b></p>
		<h3 class="registration">Inscription au bénévolat les 17 et 18 juin</h3>
		<div class="text-center mt-5">
			<img src="{{asset('/build/images/LOM.jpg')}}" alt="marché de continent" class="marche-des-continent">
		</div>

		<h4 class="mt-5">🤔Comment participer au festival ?</h4>
		<ol>
			<li class="mt-5">Cliquez sur le bouton ci-dessous pour vous inscrire.
				<div class="">
					<a class="btn btn-primary" href="{{ path('security_registration') }}">S'inscrire</a>
				</div>
			</li>
			<li class="mt-5">Cliquez sur le bouton ci-dessous pour vous connecter. Ensuite saisir vos disponibilités et les pôles que vous souhaitez effectuer</li>
			<div class="mt-2">
				<a class="btn btn-secondary" href="{{ path('app_login') }}">S'identifier</a>
			</div>
		</li>
		<li class="mt-5 mb-5">Nous vous contacterons pour confirmer vos choix dans les meilleurs délais.</li>
	</ol>
</div>{% endblock %}
