<form method="post" action="{{ path('slot_delete', {'id': slot.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ slot.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
