{% extends 'base_admin.html.twig' %}

{% block title %}Modifier le créneau{% endblock %}

{% block body %}
    <h1 class="mt-5 pt-5">Modifier le créneau</h1>

    {{ include('slot/_form.html.twig', {'button_label': 'Update'}) }}

    <a class='btn btn-secondary mt-2' href="{{ path('slot_index_task') }}">Retour à la liste</a>

    {{ include('slot/_delete_form.html.twig') }}
{% endblock %}
