{% extends 'base_admin.html.twig' %}

{% block title %}Gestion des créneaux{% endblock %}

{% block body %}
    <h1 class="mt-5 pt-5">Gestion des créneaux</h1>

    <a href="{{ path('slot_new') }}">Créer un nouveau créneau</a><br>
    {# <a href="{{ path('slot_new_auto') }}">Génération automatique de créneaux</a> #}

    <table class="table table-striped  mt-5">
        <thead>
            <tr>
                <th>Id</th>
                <th> <a href="{{ path('slot_index_task') }}">Événement</th>
                <th><a href="{{ path('slot_index') }}">Date</th>
                <th>Heure</th>
                <th>Nombre de bénévole requis</th>
                <th>Repas</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slot in slots %}
            <tr>
                <td>{{ slot.id }}</td>
                <td>{{ slot.task.name }}</td>
                <td>{{ slot.beginDateTime ? slot.beginDateTime|date('d-m-Y') : '' }}</td>
                <td>{{ slot.beginDateTime ? slot.beginDateTime|date('H:i') : '' }} - {{ slot.endDateTime ? slot.endDateTime|date('H:i') : '' }}</td>
                <td>{{ slot.requiredUsers }}</td>
                <td>{{ slot.meal }}</td>
                <td>
                    <a href="{{ path('slot_show', {'id': slot.id}) }}">Afficher</a>
                    <a href="{{ path('slot_edit', {'id': slot.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="pagination">
            {{ knp_pagination_render(slots) }}
        </div>


{% endblock %}
