{% extends 'base_admin.html.twig' %}

{% block title %}Créer un nouveau créneau
{% endblock %}

{% block body %}
	<div class="backoffice-form">
		<h1 class="mt-5 pt-5">Créer un nouveau créneau</h1>
		{{ include('slot/_form.html.twig') }}
		<a href="{{ path('slot_index_task') }}">back to list</a>
	</div>
{% endblock %}
