{% extends 'base_admin.html.twig' %}

{% block title %}New Slot
{% endblock %}

{% block body %}
	<h1 class="mt-5 pt-5">Génération automatique de créneaux</h1>
	{{ form_start(form) }}
	<div class="row mt-5">
		<div class="col-md-3">
			{{form_row(form.date,{
			'label':'Date'
		})}}
		</div>
		<div class="col-md-3">
			<div>
				{{ form_label(form.beginTime) }}
			</div>
			{{form_widget(form.beginTime)}}
			<div class="form-error text-danger small">
				{{ form_errors(form.beginTime) }}
			</div>
		</div>


		<div class="col-md-3">
			{{form_row(form.endTime,{
			'label':'à'
		})}}
		</div>
	</div>

	<div class="row">

		<div class="col-md-3">
			{{form_row(form.interval,{
			'label':'Durée du créneau horaire'
		})}}
		</div>
		<div class="col-md-2">
			{{form_row(form.requiredUsers,{
			'label':'Nombre de bénévoles'
		})}}
		</div>
		<div class="col-md-3">
			{{form_row(form.task,{
			'label':'Task'
		})}}
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			{{form_row(form.submit,{
			'label':'Valider'
		})}}
		</div>
	</div>

	{{ form_end(form) }}
	<a href="{{ path('home') }}">back to home</a>
{% endblock %}
