{% extends 'base_admin.html.twig' %}

{% block title %}Créneau{% endblock %}

{% block body %}
    <h1 class="mt-5 pt-5">Créneau</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slot.id }}</td>
            </tr>
            <tr>
                <th>Date et heure de début</th>
                <td>{{ slot.beginDateTime ? slot.beginDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date et heure de fin</th>
                <td>{{ slot.endDateTime ? slot.endDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Besoin bénévole</th>
                <td>{{ slot.requiredUsers }}</td>
            </tr>
        </tbody>
    </table>

    <a class='btn btn-secondary' href="{{ path('slot_index_task') }}">Retour à la liste</a>

    <a class='btn btn-primary' href="{{ path('slot_edit', {'id': slot.id}) }}">Modifier</a>

    {{ include('slot/_delete_form.html.twig') }}
{% endblock %}
