{% extends 'base.html.twig' %}

{% block title %}Envoi de l'email de réinstallation du mot de passe
{% endblock %}

{% block body %}
	<div class="login-form">
		<p>
			Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p>Si vous ne recevez pas d'e-mail, vérifiez votre dossier spam ou
			<a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
	</div>
{% endblock %}
