<h3>Bonjour</h3>

<p>Pour réinitialiser votre mot de passe, veuillez consulter le lien suivant</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans 1 heure.</p>

<p>À bientôt !</p><br>
<p>Chambéry Solidarité Internationale</p>
<a href="callto:0479721320">04 79 72 13 20</a><br>
<a href="mailto:l.caffoz@mairie-chambery.fr">l.caffoz@mairie-chambery.fr</a>
