{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="login-form">
		<h1 class="h2 mb-3">Réinitialiser le mot de passe</h1>

		{{ form_start(requestForm) }}
		{{ form_row(requestForm.email) }}
		<div>
			<small>
				Saisissez votre email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
			</small>
		</div>

		<button class="btn btn-primary">Envoyer</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
