{% extends 'base_admin.html.twig' %}

{% block title %}Modifier Pôle{% endblock %}

{% block body %}
    <h1 class="mt-5 pt-5">Modifier Pôle</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}

    <a class='btn btn-secondary mt-2' href="{{ path('task_index') }}">Retour à la liste</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
