{% extends 'base_admin.html.twig' %}

{% block title %}Gestion des pôles{% endblock %}

{% block body %}
    <h1 class="mt-5 pt-5">Gestion des pôles</h1>
    <a href="{{ path('task_new') }}">Créer un nouveau pôle</a>
    <table class="table table-striped  mt-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}">Afficher</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="pagination">
            {{ knp_pagination_render(tasks) }}
        </div>

{% endblock %}
