{% extends 'base_admin.html.twig' %}

{% block title %}Créer un nouveau pôle
{% endblock %}

{% block body %}
	<div class="backoffice-form">

		<h1 class="mt-5 pt-5">Créer un nouveau pôle</h1>

		{{ include('task/_form.html.twig') }}

		<a href="{{ path('task_index') }}">back to list</a>
	</div>
{% endblock %}
