{% extends 'base_admin.html.twig' %}

{% block title %}Pôle{% endblock %}

{% block body %}
    <h1 class="mt-5 pt-5">Pôle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Nom du pôle</th>
                <td>{{ task.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class='btn btn-secondary' href="{{ path('task_index') }}">Retour à la liste</a>

    <a class='btn btn-primary' href="{{ path('task_edit', {'id': task.id}) }}">Modifier</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
