@import "./global.scss";
body {
  background-color: lightgray;
}
.nav_bala,
.navbar-brand {
  padding: 0 50px;
  font-size: 1.2rem;
  line-height: 4rem;
  @include media-breakpoint-down(lg) {
    font-size: 3rem;
    line-height: 7rem;
    .navbar-brand {
      font-size: 3rem;
    }
  }
}
.navbar-toggler {
  font-size: 2.5rem;
}
.navbar-brand {
  padding-left: 1rem;
}
.nav-item {
  margin: 0 2rem;
}
.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
  height: 1200px;
}
.sidebar-left {
  position: sticky;
  top: 0;
}
.sidebar-nav li .nav-link {
  color: $info;
  font-weight: 700;
  &:hover {
    color: $primary;
  }
}
.table-container {
  width: 70%;
}
.delButton {
  margin-top: 2.5em;
}
.form-check {
  padding-right: 3em;
  display: inline-flex;
}
.user_name {
  font-size: 1.5rem;
  margin-bottom: -1rem;
  color: #d3d3d3;
}
.specific-textarea {
  height: 150px !important;
}

.login-form,
.backoffice-form,
.registration-form {
  width: 75%;
  margin: auto;
  margin-top: 7rem;
  @include media-breakpoint-down(lg) {
    margin-top: 10rem;
    font-size: 2.5rem;
    h2 {
      font-size: 3.5rem;
    }
    h3 {
      font-size: 3rem;
    }
    h4{
      font-size: 2.5rem;
    }
    width: 100%;
    input,
    textarea,
    select {
      padding: 20px;
      font-size: 2.5rem;
    }
  }
}
.btn {
  margin-top: 2rem;
  width: 25%;
  @include media-breakpoint-down(lg) {
    width: 100%;
    height: 7rem;
    padding: 1.5rem;
    font-size: 2.5rem;
  }
}
.summary {
  font-size: 1.3rem;
  margin-top: 7rem;
  @include media-breakpoint-down(lg) {
    margin-top: 10rem;
    font-size: 2.5rem;
    h2 {
      font-size: 3.5rem;
    }
    h3 {
      font-size: 3rem;
    }
  }
}
.container-fluid-main {
  width: 70%;
  margin: auto;
  @include media-breakpoint-down(lg) {
    width: 100% !important;
  }
}
.col-form-label {
  padding-top: 0;
}
.lower {
  margin-top: 5rem;
  @include media-breakpoint-down(lg) {
    margin-top: 35rem;
  }
}
.registration{
  margin-top:3rem;
  text-align: center;
  @include media-breakpoint-down(lg) {
    margin-top: 5rem;
    text-align: left;
  }
}
.form-check-input{
  margin-right: 5px;
}
