$primary: darken(#428bca, 20%);
$secondary:rgb(22, 104, 22);
$danger: rgb(175, 20, 67);
$info:rgb(28, 1, 44);
$dark:rgb(28, 2, 44);


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Potta+One&display=swap');
