<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    </head>
    <body>
  {% include 'navbar.html.twig' %}
    <div class="container-fluid">
	 	<div class="row">
	    <div class="col-md-2 bg-light d-none d-md-block sidebar">
   	    {% include 'sidebar.html.twig' %}
    	</div>
    	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      	{% block body %}{% endblock %}
    	</main>
  	</div>
	</div>

    </body>
</html>
