<nav class="navbar navbar-expand-lg navbar-dark bg-primary  pl-5  fixed-top mb-5 nav_bala">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('home')}}">Accueil</a>
		<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span>
				<i class="fas fa-bars text-white"></i>
			</span>
			<span style="display:none;" class="item-number"></span>
		</button>
		<div class="nav-right">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav  me-auto mb-2 mb-lg-0">
					{% if not app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_login')}}">S'identifier</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('security_registration')}}">S'inscrire</a>
						</li>
					{% else %}
						{% if not is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('user_show', {'id': app.user.id})}}">
									Mes informations personnelles</a>
							</li>
							{% if  (app.user.availables|length == 0) or (app.user.priorities|length == 0) %}
								<li class="nav-item">
									<a class="nav-link" href="{{path('set_user_available')}}">
										Inscription bénévole</a>
								</li>
							{% endif %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('output_summary')}}">
									Récapitulatif de mon inscription</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
						</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>
