{% extends 'base.html.twig' %}

{% block title %}Enregistrez vos disponibilités
{% endblock %}

{% block body %}
	<div class="registration-form mb-5">
		<h2 class="">Enregistrez vos disponibilités</h2>
		<h3 class="mt-5">
			Merci de nous spécifier vos disponibilités ci-après.</h3>
		{{ form_start(form) }}
		{# <div class="row mt-5">
								<div class="col-md-2">
									<p>Vos disponibilités</p>
								</div>

								<div class="col-md-3">
									<button class='btn btn-primary btn-sm add-collection-widget' id='addDateTime' data-list-selector="#embeded-fields">Ajouter vos disponibilités</button>
								</div>
							</div>

							<div id="embeded-fields" data-prototype="{{ form_widget(form.availables.vars.prototype)|e }}" data-widget-tags="{{ '<div></div>'|e }}" data-widget-counter="{{ form.availables|length }}">

								{% for available in form.availables %}
									<div>
										{{ form_row(available) }}
									</div>
								{% endfor %}
							</div> #}

		{# <div class="row mt-5">
								<div class="col-md-3">
									{{form_row(form.submit,{
									'label':'Valider vos disponibilités et choisir vos préférences',
									'attr': {'class': 'btn-primary btn-sm'}
								})}}
								</div>
							</div> #}
			<div class="row mt-5"> <div class="col-xl-8">
				{{form_row(form.availability1)}}
			</div>
		</div>
		<div class="row">
			<div class="col-xl-8">
				{{form_row(form.availability2)}}
			</div>
		</div>
		<button type="submit" class="btn btn-primary mt-3">Valider</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
