{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de l'inscription
{% endblock %}

{% block body %}
	{% set trans_day_hash = {
        "Monday": "Lundi",
        "Tuesday": "Mardi",
        "Wednesday": "Mercredi",
        "Thursday": "Jeudi",
        "Friday": "Vendredi",
        "Saturday": "Samedi",
        "Sunday": "Dimanche"
    }
%}

	<div class="summary mb-5">
		<h2>Récapitulatif de votre inscription</h2>

		<h3 class="mt-5">
			Vos disponibilités</h3>

		<ul class="mt-3">
			{% for available in availables %}
				<li>
					{{ trans_day_hash[available.beginDateTime|date('l')] }} {{ available.beginDateTime | date('d/m/Y') }}
					:
					{{ available.availablePeriod }}
				</li>
			{% endfor %}
		</ul>

		<h3 class="mt-5">Vos pôles de préférences</h3>

		<ol class="mt-3">
			{% for priority in priorities %}
				<li>
					{{ priority.task.name }}
				</li>

			{% endfor %}
		</ol>

		<p class="mt-5 ml-3">
			{% if availables %}
				Merci de votre participation !<br><br>
				Nous vous contacterons pour confirmer vos choix dans les meilleurs délais.<br><br>
				Si vous souhaitez modifier vos données d'inscription, veuillez nous contacter par
				<a href="callto:0479721320">téléphone : 04 79 72 13 20</a>
				ou par
				<a href="mailto:l.caffoz@mairie-chambery.fr">e-mail: l.caffoz@mairie-chambery.fr</a>.
			{% else %}
				Vous n'avez pas encore inscrit votre disponibilité. Veuillez vous inscrire !
				<a href="{{ path('set_user_available') }}">s'inscrire</a>
			{% endif %}
		</p><br>
		<p>👉 Notez dans votre agenda que la réunion génerale de préparation se déroulera<strong>
				le jeudi 9 juin à 18h30</strong>
			à La Dynamo, 24 Avenue Daniel Rops 73000 CHAMBERY</p>
	</div>
{% endblock %}
