{% extends 'base.html.twig' %}

{% block title %}Enregistrez vos priorités
{% endblock %}

{% block body %}
	<div class="registration-form mb-5">
		<h2 class="">Enregistrez vos priorités</h2>
		<h3 class="mt-5">Dans quels secteurs souhaiteriez-vous vous impliquer ?
		</h3>

		{{ form_start(form) }}

		{# <div class="row mt-5">
				<div class="col-md-2">
					<p>Vos préférences *</p>
				</div>

				<div class="col-md-3">
					<button class='btn btn-primary btn-sm add-collection-widget' id='addPriority' data-list-selector="#embeded-fields">Ajouter le pôle</button>
				</div>
			</div>

			<div id="embeded-fields" data-prototype="{{ form_widget(form.priorities.vars.prototype)|e }}" data-widget-tags="{{ '<div></div>'|e }}" data-widget-counter="{{ form.priorities|length }}">

				{% for priority in form.priorities %}
					<div>
						{{ form_row(priority) }}
					</div>
				{% endfor %}
			</div>

			<div class="row">
				<div class="col-md-3">
					{{form_row(form.submit,{
					'label':'Valider'
				})}}
				</div>
			</div> #}

		<div class="row mt-5">
			<div class="col-xl-8">
				{{form_row(form.eventname1)}}
			</div>
		</div>
		<div class="row">
			<div class="col-xl-8">
				{{form_row(form.eventname2)}}
			</div>
		</div>
		<div class="row">
			<div class="col-xl-8">
				{{form_row(form.eventname3)}}
			</div>
		</div>
		<button type="submit" class="btn btn-primary mt-3">Valider</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
