{% extends 'base_admin.html.twig' %}

{% block title %}Edit Affectation{% endblock %}

{% block body %}
    <h1 class="mt-5 pt-5">Edit Affectation</h1>

    {{ include('affectation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('affectation_index') }}">back to list</a>

    {{ include('affectation/_delete_form.html.twig') }}
{% endblock %}
