{% extends 'base_admin.html.twig' %}

{% block title %}Affectation de bénévoles
{% endblock %}

{% block body %}
	<h1 class="mt-5 pt-5">Affectation de bénévoles</h1>
	<a href="{{ path('affectation_new') }}">Affecter à la main</a>
	<table class="table table-striped ">
		<thead>
			<tr>
				<th>Poste</th>
				<th>Créneaux date</th>
				<th>Horaire</th>
				<th>Personne affectée</th>
				<th>Repas</th>
				<th>actions</th>

			</tr>
		</thead>
		<tbody>
			{% for affectation in affectations %}
				<tr>
					<td>{{ affectation.slot.task.name }}</td>
					<td>{{ affectation.slot.beginDateTime ? affectation.slot.beginDateTime|date('d-m-Y') : '' }}</td>
					<td>{{ affectation.slot.beginDateTime ? affectation.slot.beginDateTime|date('H:i') : '' }}
						-
						{{ affectation.slot.endDateTime ? affectation.slot.endDateTime|date('H:i') : '' }}</td>
					<td>{{ affectation.user.lastName }}
						{{ affectation.user.firstName }}</td>
					<td>{{ affectation.slot.meal }}</td>
					<td>
						<a href="{{ path('affectation_show', {'id': affectation.id}) }}">Afficher</a>
						<a href="{{ path('affectation_edit', {'id': affectation.id}) }}">Modifier</a>
					</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="2">Aucune affectation du bénévole n'a encore été effectuée.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="managment">
		{% if exl_isExist %}
			<a href="{{ path('affectation_delete_all') }}" class="btn btn-danger">Annuler l'affectation</a>
			<a href="{{ asset('/files/affectation.xlsx')}}" download class="btn btn-info">Télécharger fichier Excel</a>
		{% else %}
		<p>Pour remplir le planning avec les bénevoles disponibles cliquez ci-dessous</p>
			<a href="{{ path('affectation_process') }}" class="btn btn-primary">Affecter automatiquement</a>
		{% endif %}
	</div>
	<div class="pagination">
		{{ knp_pagination_render(affectations) }}
	</div>
{% endblock %}
