{% extends 'base_admin.html.twig' %}

{% block title %}Affectation de bénévoles{% endblock %}

{% block body %}
    <h1 class="mt-5 pt-5">Affectation de bénévole</h1>
    {% if (affectations)%}
        <table class="table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Créneau</th>
                    <th>Pôle</th>
                    <th>Repas</th>
                    <th>Nombre de bénévole requis</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
        {% for affectation in affectations %}
            <tr>
                <td>{{ affectation.user.id }}</td>
                <td>{{ affectation.user.lastName }}</td>
                <td>{{ affectation.user.firstName }}</td>
                <td>{{ affectation.slot.beginDateTime | date('Y-m-d/H:i') }}-{{ affectation.slot.endDateTime | date('H:i') }}</td>
                <td>{{ affectation.slot.task.Name }}</td>
                <td></td>
                <td>{{ affectation.slot.requiredUsers }}</td>
            {% if affectation.slot.id in completeSlots %}
                <td>Complete</td>
            {% endif %}

            </tr>
        {% endfor %}
           </tbody>
        </table>
    {% else %}
        <h2>    no affectation possible</h2>
    {% endif %}
{% endblock %}
