{% extends 'base_admin.html.twig' %}

{% block title %}Affectation
{% endblock %}

{% block body %}
	<h1 class="mt-5 pt-5">Affectation</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Pôle</th>
				<td>{{ affectation.slot.task.name }}</td>
			</tr>
			<tr>
				<th>Créneaux</th>
				<td>{{ affectation.slot.beginDateTime|date('d-m-Y') }}
					/
					{{ affectation.slot.beginDateTime|date('H:i') }}
					-
					{{ affectation.slot.endDateTime|date('H:i') }}</td>
			</tr>
			<tr>
				<th>Repas</th>
				<td>{{ affectation.slot.meal }}</td>
			</tr>

			<tr>
				<th>Nom Prénom</th>
				<td>{{ affectation.user.lastName }}
					{{ affectation.user.lastName }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ affectation.user.email }}</td>
			</tr>
			<tr>
				<th>Téléphone</th>
				<td>{{ affectation.user.phone }}</td>
			</tr>

			<tr>
				<th>Age</th>
				{% if affectation.user.birthDate %}
					{% set howOldWillUserBeThisYear = "now"|date("Ymd") - affectation.user.birthDate |date("Ymd") %}
					{% set ageWithDecimals = howOldWillUserBeThisYear / 10000 %}
					<td>{{  ageWithDecimals |round(0, 'floor')}}</td>
				{% endif %}
			</tr>

		</tbody>
	</tr>
</tbody></table><a href="{{ path('affectation_index') }}">back to list</a><a href="{{ path('affectation_edit', {'id': affectation.id}) }}">edit</a>{{ include('affectation/_delete_form.html.twig') }}{% endblock %}
