{% extends 'base_admin.html.twig' %}

{% block title %}Modifier les données personnelles
{% endblock %}

{% block body %}
	<div class="backoffice-form">
		<h2 class="mt-5 pt-5">Modifier les données personnelles</h2>

		{{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a class='btn btn-secondary mt-2' href="{{ path('user_index') }}">Retour à la liste</a>

		{{ include('user/_delete_form.html.twig') }}

	</div>
{% endblock %}
