{% extends 'base.html.twig' %}

{% block title %}Modifier les données personnelles
{% endblock %}

{% block body %}
	<div class="backoffice-form mb-5">
		<h2 class="mt-5 pt-5 mb-5">Modifier les données personnelles</h2>

		{{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
		<a class="btn btn-secondary mt-2" href="{{ path('user_show', {'id': app.user.id})}}">Retourner</a>
	</div>
{% endblock %}
