{% extends 'base_admin.html.twig' %}

{% block title %}Gestion des bénévoles{% endblock %}

{% block body %}
<style>
    td {padding:1.5em}
</style>

    <h1 class="mt-5 pt-5">Gestion des bénévoles</h1>
    <a href="{{ path('user_new') }}">Ajouter un bénévole</a>

    <table class="table table-striped  mt-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Civilité</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Âge</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                 {% set howOldWillUserBeThisYear = "now"|date("Ymd") - user.birthDate |date("Ymd") %}
                 {% set ageWithDecimals = howOldWillUserBeThisYear / 10000 %}

                <td>{{ user.id }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{% if user.birthDate %}
                         {{ ageWithDecimals |round(0, 'floor') }}
                    {% endif %}
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Afficher</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
            {{ knp_pagination_render(users) }}
    </div>

{% endblock %}
