{% extends 'base_admin.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<div class="backoffice-form">

		<h1 class="mt-5 pt-5">Create new User</h1>

		{{ include('user/_form.html.twig') }}

		<a href="{{ path('user_index') }}">back to list</a>
	</div>
{% endblock %}
