{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<div class="backoffice-form mb-5">
		<h2 class="mt-5 pt-5">Vos informations personnelles</h2>

		<table class="table mt-5">
			<tbody>
				<tr>
					<th>Civilité</th>
					<td>{{ user.gender }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ user.lastName }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ user.firstName }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td>{{ user.phone }}</td>
				</tr>
				<tr>
					<th>Date de naissance</th>
					{% if user.birthDate %}
						<td>{{ user.birthDate|date("d/m/Y")}}</td>
					{% endif %}
				</tr>
				<tr>
					<th>Newsletters</th>
					{% if user.newsletter %}
						<td>Inscrit</td>
					{% else %}
						<td>Non Inscrit</td>
					{% endif %}
				</tr>
				<tr>
					<th>Commentaires aux organisateurs</th>
					<td>{{ user.comment  | nl2br }}</td>
				</tr>
			</tbody>
		</table>
		<a class='btn btn-primary' href="{{ path('user_edit', {'id': user.id}) }}">Mettre à jour</a>
	</div>
{% endblock %}
