{% extends 'base_admin.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<div class="backoffice-form">
		<h2 class="mt-5 pt-5">Vos informations personnelles</h2>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ user.id }}</td>
				</tr>
				<tr>
					<th>Civilité</th>
					<td>{{ user.gender }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ user.lastName }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ user.firstName }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td>{{ user.phone }}</td>
				</tr>
				<tr>
					<th>Date de naissance</th>
					{% if user.birthDate %}
						<td>{{ user.birthDate|date("d/m/Y")}}</td>
					{% endif %}
				</tr>
				<tr>
					<th>Age</th>
					{% if user.birthDate %}
						{% set howOldWillUserBeThisYear = "now"|date("Ymd") - user.birthDate |date("Ymd") %}
						{% set ageWithDecimals = howOldWillUserBeThisYear / 10000 %}
						<td>{{  ageWithDecimals |round(0, 'floor')}}</td>
					{% endif %}
				</tr>
				<tr>
					<th>Roles</th>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
				</tr>
				<tr>
					<th>priorities</th>
					<td>
						{% for priority in user.priorities %}
							<p>{{ priority.priority }}.
								{{ priority.task.name }}</p>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>Disponibilités</th>
					<td>
						{% for available in availables %}
							<p>{{ available.beginDateTime | date('d-m-Y') }}
								:
								{{available.availablePeriod}}
								{# ({{ available.beginDateTime | date('H:i') }}
								-
								{{ available.endDateTime | date(' H:i') }}) #}
							</p>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>Newsletters</th>
					{% if user.newsletter %}
						<td>Inscrit</td>
					{% else %}
						<td>Non Inscrit</td>
					{% endif %}
				</tr>
				<tr>
					<th>Commentaires aux organisateurs</th>
					<td>{{ user.comment  | nl2br }}</td>
				</tr>
			</tbody>
		</table>
		<a class='btn btn-secondary' href="{{ path('user_index') }}">Retour à la liste</a>
		<a class='btn btn-primary' href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
		{{ include('user/_delete_form.html.twig') }}

	</div>
{% endblock %}
